#rock{
    background-color: rgb(255, 209, 59);
}
#paper{
    background-color: rgb(135, 241, 255);
}
#scissors{
    background-color: rgb(47, 255, 134);
}
h1{
    text-align: center;
    font-size: 50px;
    color: rgb(95, 199, 63);
}
h2{
    text-align: center;
    font-size: 30px;
    color: rgb(27, 197, 112);
}
body{
    background-color: rgb(27, 27, 27);
}
h3{
    text-align: center;
    font-size: 20px;
    color: rgb(59, 218, 230);
}
a{
    text-align: center;
    font-size: 15px;
    color: black;
    display: block;
    background-color: rgb(144, 253, 94);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 750px;
}
button{
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}  
#container{
    display: flex;
}
.box{
    width:50px;
    height:50px;
    background-color: green;
    margin: 0 5px;
    border: rgb(159, 255, 247) solid 5px;
}
#buttons{
    margin-top: 10px;
    padding:10px;
    font-size:16px;
}
div{
    text-align: center;
    background-color: yellow;
    width: 100px;
    height: 100px;
    border-radius: 180px;
}
p{
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0px 400px;
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 5px;
    padding: 10px;
}
.grid{
    width: 100px;
    height: 100px;
    font-size: 20px;
    display: inline-flex;
    place-content: center;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto auto;
    padding: 50px 300px;
    margin: auto auto auto 25px;
}
#startGuess{
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
}
#playAgain{
    background-color: lightcoral;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    margin: 10px 0;
}
#aimStart{
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
}
#inspo{
    background-color:rgb(252, 199, 55);
    margin: 20px 750px;
    padding: 20px;
}